
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/inHome_index.css" />

</head>
<body>
    <div class="leader-board">
        <div class="background-images">
            <img src="../Content/public/leaderboard-1@2x.png" class="banner-image active" alt="Image 1">
            <img src="../Content/public/banner1.png" class="banner-image" alt="Image 2">
            <img src="../Content/public/leaderboard-1@2x.png" class="banner-image" alt="Image 3">
            <img src="../Content/public/banner1.png" class="banner-image" alt="Image 4">
        </div>
        <div class="title">
            Vexere - Cam kết hoàn 150% nếu nhà xe không cung cấp dịch vụ vận chuyển
        </div>
        <div class="container search">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-5 noidi">
                            <div class="text-diadiem">Nơi Đi</div>
                            <select class="select-diadiem-noidi">
                                <option value="HN">Hà Nội</option>
                                <option value="TPHCM">TPHCM</option>
                                <option value="DaNang">Đà Nẵng</option>
                            </select>
                        </div>
                        <div class="col-5 noiden">
                            <div class="text-diadiem">Nơi Đến</div>
                            <select class="select-diadiem-noiden">
                                <option value="HN">Hà Nội</option>
                                <option value="TPHCM">TPHCM</option>
                                <option value="DaNang">Đà Nẵng</option>
                            </select>
                        </div>
                        <div class="col-2 btn btn-warning" style="height:50px;margin-top:22px;align-content:center;border-radius:10px">
                            <a class="timve" style="text-decoration:none;color:white;font-size:14px;font-weight:300" href="@Url.Action("SearchTrain", "Search")">    Tìm kiếm</a>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="popular">Tuyến đường phổ biến </h4>
        <div class="row list-popular">
            <div class="ant-carousel">
                <div class="slick-list">
                    <div class="slick-track" style="width: 1960px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                            <div class="a-dcrt-none">
                                <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA">
                                    <div class="image-container">
                                        <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" alt="item-popular-route" width="233" height="116">
                                    </div>
                                    <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 cclBUT">
                                        <div class="card-content-title">Sài Gòn - Nha Trang</div>
                                        <div class="card-content-fare">
                                            Từ 200.000đ
                                            <div class="card-content-fare-origin">320.000đ</div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>

                        <div data-index="1" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                            <div class="a-dcrt-none">
                                <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA ">
                                    <div class="image-container">
                                        <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/24/img_hero.png" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/24/img_hero.png" alt="item-popular-route" width="233" height="116">
                                    </div>
                                    <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 bvkSHW">
                                        <div class="card-content-title">Hà Nội - Hải Phòng</div>
                                        <div class="card-content-fare">
                                            Từ 100.000đ
                                            <div class="card-content-fare-origin">320.000đ</div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div data-index="2" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                            <div class="a-dcrt-none">
                                <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA">
                                    <div class="image-container">
                                        <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/3/img_hero.png" alt="item-popular-route" width="233" height="116">
                                    </div>
                                    <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 epxwNO">
                                        <div class="card-content-title">Sài Gòn - Đà Lạt  </div>
                                        <div class="card-content-fare">
                                            Từ 160.000đ
                                            <div class="card-content-fare-origin">320.000đ</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div data-index="3" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                            <div class="a-dcrt-none">
                                <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA ">
                                    <div class="image-container">
                                        <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/22/img_hero.png" alt="item-popular-route" width="233" height="116">
                                    </div>
                                    <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 bLhVej">
                                        <div class="card-content-title">Sài Gòn - Phan Thiết  </div>
                                        <div class="card-content-fare">
                                            Từ 150.000đ
                                            <div class="card-content-fare-origin">320.000đ</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div data-index="4" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                            <div class="a-dcrt-none">
                                <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA">
                                    <div class="image-container">
                                        <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/25/img_hero.png" alt="item-popular-route" width="233" height="116">
                                    </div>
                                    <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 bvkSHW">
                                        <div class="card-content-title">Sài Gòn - Phan Rang </div>
                                        <div class="card-content-fare">
                                            Từ 180.000đ
                                            <div class="card-content-fare-origin">320.000đ</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div data-index="5" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                            <div class="a-dcrt-none">
                                <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA">
                                    <div class="image-container">
                                        <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/20/img_card.png" alt="item-popular-route" width="233" height="116">
                                    </div>
                                    <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 bNhMQq">
                                        <div class="card-content-title">Sài Gòn - Vũng Tàu  </div>
                                        <div class="card-content-fare">
                                            Từ 150.000đ
                                            <div class="card-content-fare-origin">320.000đ</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div data-index="6" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                            <div class="a-dcrt-none">
                                <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA">
                                    <div class="image-container">
                                        <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/21/img_card.png" alt="item-popular-route" width="233" height="116">
                                    </div>
                                    <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 qYPaV">
                                        <div class="card-content-title">Sài Gòn - Nha Trang </div>
                                        <div class="card-content-fare">
                                            Từ 200.000đ
                                            <div class="card-content-fare-origin">320.000đ</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div data-index="7" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                            <div class="a-dcrt-none">
                                <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA">
                                    <div class="image-container">
                                        <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/27/img_hero.png" alt="item-popular-route" width="233" height="116">
                                    </div>
                                    <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 hcKCQC">
                                        <div class="card-content-title">Nha Trang  - Sài Gòn</div>
                                        <div class="card-content-fare-origin">320.000đ</div>
                                        <div class="card-content-fare">Từ 200.000đ</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>





    <h4 class="title-4" style="text-align:center">HỆ THỐNG VÉ XE KHÁCH LỚN NHẤT VIỆT NAM</h4>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="shadow">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/Content/public/world-map@2x.png" />
                        </div>
                        <div class="col-8 fs-5">
                            <h6 class="mt-2  fw-bolder ">5000+</h6>
                            <a>Tuyến đường</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="shadow">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/Content/public/bus@2x.png" />
                        </div>
                        <div class="col-8 fs-5">
                            <h6 class="mt-2  fw-bolder ">2000+</h6>
                            <a>Nhà xe</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="shadow">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/Content/public/travel-agency@2x.png" />
                        </div>
                        <div class="col-8 fs-5">
                            <h6 class="mt-2  fw-bolder ">5000+</h6>
                            <a>Đại lý</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/Content/public/bus-size@2x.png" />
                        </div>
                        <div class="col-8 fs-5">
                            <h6 class="mt-2  fw-bolder ">4000+</h6>
                            <a>Bến xe</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
    <br />


    <script>
        // script.js


    </script>
</body>
</html>